@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat:wght@700&display=swap');
@import "tailwindcss";

@theme {
  --font-lora: "Lora", serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@utility hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}